In [4]:
#variables are dynamically typed
n = 0
print(n)
print(type(n))
n = 'zero'
print(n)
print(type(n))

0
<class 'int'>
zero
<class 'str'>

In [5]:
#multiple assignments
a,b = 10,20
print(a)
print(b)

10
20

In [6]:
n = 100
n = n + 1
n += 1
#n++ - syntax error

In [7]:
#none is null
n = None
print(n)
print(type(n))

None
<class 'NoneType'>

In [8]:
#if doesn't need paranthesis or curly braces
n = 1000
if n > 100 : 
    n = n - 1
elif n < 100:
    n = n + 1
else:
    n = n * n

print(n)

999

In [9]:
#paranthesis needed for multi line conditions
a , b = 100, 200
if ( a > 100 and 
     b > 200 ):
    print('big numbers')
else:
    print('we can handle')

we can handle

In [10]:
# while
n = 5

print('count down begins')

while n >= 0 : 
    print(n)
    n = n - 1

print('go')

count down begins
5
4
3
2
1
0
go

In [11]:
# this means from 0 added automatically till 5 , excluding 5 
for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
for i in range(2,6):
    print(i)

2
3
4
5

In [13]:
# in steps
for i in range (1,10,2):
    print(i)

1
3
5
7
9

In [14]:
# division is decimal by default
print(5/2)

2.5

In [15]:
#round down
print(5//2)

2

In [16]:
#CAREFUL NEGATIVE NUMBERS ROUNDING DOWN IS DIFFERENT
print(-7//2)

-4

In [17]:
#work around for this
print(int(-7/2))

-3

In [18]:
#remainder
print(7%2)

1

In [19]:
#CAREFUL ABOUT NEGATIVE VALUES
print(-10 % 3)

2

In [20]:
#SO USE MATH PACKAGE
import math
print(math.fmod(-10,3))

-1.0

In [21]:
print(math.floor(5/2))
print(math.ceil(5/2))
print(math.sqrt(16))
print(math.pow(5,2))

2
3
4.0
25.0

In [22]:
#biggest numbers
#python numbers don't overflow and they are between -inf and +infy
max = float("inf")
min = float("-inf")

if max > 100:
    print(max)
if min < -100:
    print(min)

inf
-inf

In [23]:
#Python has lists that's the arrays
arr = [1,2,3]
print(arr)

[1, 2, 3]

In [24]:
#it works like stack - ie, add to the top , remove from the top with o(1)
arr.append(4)
print(arr)
arr.pop()
print(arr)

[1, 2, 3, 4]
[1, 2, 3]

In [25]:
#we can insert at an index - this has time complexity of O(n)
arr.insert(1,9)
print(arr)

[1, 9, 2, 3]

In [26]:
#any item can be accessed at O(1) and we can reassign too
arr[1] = 0
print(arr)

[1, 0, 2, 3]

In [28]:
for num in arr:
    print(arr)

for i in arr:
    print(arr[i])

for index,element in enumerate(arr):
    print(index,element)

[1, 0, 2, 3]
[1, 0, 2, 3]
[1, 0, 2, 3]
[1, 0, 2, 3]
0
1
2
3
0 1
1 0
2 2
3 3

In [33]:
arr1 = [1,2,3]
arr2 = [4,5,6]
arr3 = list(zip(arr1,arr2))
print(arr3)

for element in arr3:
    print(element)

for i,j in arr3:
    print(i,j)

for i,j in zip(arr1,arr2):
    print(i,j)

[(1, 4), (2, 5), (3, 6)]
(1, 4)
(2, 5)
(3, 6)
1 4
2 5
3 6
1 4
2 5
3 6

In [39]:
arr3 = arr1+arr2
print(arr3)

#reverse - reverse inplace it doesn't return anything
arr3.reverse()
print(arr3)

arr3.sort()
print(arr3)

#reverse sorting
arr3.sort(reverse=True)
print(arr3)

[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [44]:
#lambda is anonymous function and we can call inline
result = ( lambda x : x + 10 ) ( 20 )
print(result)

#custom sort array
arr = ["bob", "alice", "jane", "doe"]
arr.sort()
print(arr)

# Custom sort (by length of string)
arr.sort(key= lambda x : len(x))
print(arr)

30
['alice', 'bob', 'doe', 'jane']
['bob', 'doe', 'jane', 'alice']

In [47]:
# list comprehension - concise way to create lists
arr = [ i for i in range(5) if i > 2 ] 
print(arr)

# 2-D lists
arr = [[0] * 4 for i in range(4)]
print(arr)

[3, 4]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [13]:
#strings are similar to arrays
word = 'hello world'

for letter in word:
    print(letter)

for index,letter in enumerate(word):
    print(index,letter)

sliced = word[6:]
print(sliced)

from_last = word[:-2]
print(from_last)


#IMPORTANT - ARRAYS ARE MUTABLE BUT STRINGS ARE IMMUTABLE
#word[5] = 'c'

word = word + 'from china' # THIS CREATES A NEW STRING
print(word)


#ascii values
ascii = ord(word[5])
print(ascii)

#we can combine things
words = ['my','name','is','antony','gonsalvez']
word = " ".join(words)
print(word)
words = word.split(" ")
print(words)

h
e
l
l
o

w
o
r
l
d
0 h
1 e
2 l
3 l
4 o
5
6 w
7 o
8 r
9 l
10 d
world
hello wor
hello worldfrom china
32
my name is antony gonsalvez
['my', 'name', 'is', 'antony', 'gonsalvez']

In [19]:
from collections import deque

queue = deque()
queue.append(1)
queue.append(2)
queue.appendleft(3)
print(queue)
queue.pop()
print(queue)
queue.appendleft(4)
queue.append(5)
queue.popleft()
print(queue)

deque([3, 1, 2])
deque([3, 1])
deque([3, 1, 5])

# Hash Set

In [ ]:
hash_set = set()
hash_set.add(1)
hash_set.add(23)
hash_set.add(7)
hash_set.add(32)
hash_set.add(32)
print(hash_set)

# to check if something is in set
if 7 in hash_set:
    print("yes")
else:
    print("no")

if 5 in hash_set:
    print("yes")
else:
    print("no")


for item in hash_set:
    print(item)

#set comprehension similar to list comprehension - here it returns hash set
test = {i for i in hash_set}
print(test)

{32, 1, 7, 23}
yes
no
32
1
7
23
{32, 1, 23, 7}

# Hash Map

In [34]:
#hashm map is dictionary ie, key value pairs

hash_map = dict() # or {}
hash_map["shiy"] = 45
hash_map["l"] = 40
hash_map["n"] = 38
hash_map["shil"] = 35
print(hash_map)
print(len(hash_map))

print("shiy" in hash_map)
hash_map.pop("shiy")
print("shiy" in hash_map)


#dictionary comprehension
comp = { key:value for key,value in hash_map.items()}
print(comp)

for key in hash_map.keys():
    print(key)

for value in hash_map.values():
    print(value)

for key,value in hash_map.items():
    print(key,value)

{'shiy': 45, 'l': 40, 'n': 38, 'shil': 35}
4
True
False
{'l': 40, 'n': 38, 'shil': 35}
l
n
shil
40
38
35
l 40
n 38
shil 35